<!-- templates/base.html -->
<!DOCTYPE html> 
<html lang="ru">          
  <head>
    {% include 'includes/head.html' %}
    
    {% block title %}
    Название вкладки не подвезли :(
    {% endblock %}       
  </head>
  <body>       
    <header>
      {% include 'includes/header.html' %}
      {% block header %}
     <!--  Заголовок страницы не подвезли :(-->
      {% endblock %} 
    </header>
    <main>
      {% block content %}
        Контент страницы не подвезли :(
      {% endblock %}
    </main>
    <footer>
      {% block footer %}
      {% include 'includes/footer.html' %}
      {% endblock %} 
    </footer>
  </body>
</html>