{% load thumbnail %}
{% load cache %}
{% cache 20 index_page post.id %}

<ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }} г.
    </li>
    <li>
      {% if post.group %}
        Группа: {{ post.group.title }}
      {% else %}
        Группа: Нет группы
      {% endif %}
    </li>
    <li>
      Номер поста: {{ post.id }}
    </li>
  </ul>

  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}

  <p>
    <b>Текст поста:</b> {{ post.text }}
  </p>
  <p>
    <a href="{% url 'posts:post_detail' post.id %}">
      Подробная информация о посте
    </a>
  </p>

  {% if post.group %}
    <a href="{% url 'posts:group' post.group.slug %}">
      Все записи группы: {{ post.group.title }}
    </a>
  {% endif %}

{% endcache %}
