<!-- templates/posts/follow.html Страница постов автора, на которого ты подписан-->
{% extends 'base.html' %}

{% load thumbnail %}

  {% block title %}
    <title>{{ title_follow }}</title>
  {% endblock %} 

  {% block header %}
    <div class="container py-4">
      <h2>Посты автора, на которого вы подписались</h2>
    </div>
  {% endblock %}

  {% block content %}
  {% include 'posts/includes/switcher.html' %}
    <div class="container py-1">      
      {% for post in page_obj %}
        {% include 'posts/includes/post_list.html' %}
             {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
    </div>
  {% endblock %} 