<!-- templates/posts/group_list.html -->
{% extends 'base.html' %}

    {% block title %}       
    <title>{{ title }}</title>
    {% endblock %}

      {% block content %}
      <div class="container py-3">
      <h2>Список Групп</h2>
      <p></p>
      <ul>
          {% for group in groups %}
              <li>{{ group.title }} - {{ group.description }}</li>
          {% empty %}
              <li>Нет доступных групп.</li>
          {% endfor %}
      </ul>
      {% endblock %}
      {% include 'posts/includes/paginator.html' %}
