<!-- templates/posts/profile.html -->
{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}
  <title>{{ title }} {{ author_posts.get_full_name }}</title>
{% endblock %}

{% block header %}
<div class="container py-4">
  <h1>Все посты пользователя {{ author_posts.get_full_name }}</h1>
  <h3>Всего постов: {{ posts_count }}</h3>

  <!-- Добавляем условие, чтобы скрыть кнопки для собственного профиля -->
  {% if request.user != author_posts %}
    {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author_posts.username %}" role="button"
      >
        Отписаться
      </a>
    {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author_posts.username %}" role="button"
      >
        Подписаться
      </a>
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block content %}
  <div class="container py-1">      
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}
