<!-- templates/users/password_reset_complete.html -->

{% extends "base.html" %}

<head>
{% block title %}
    <title>Сброс пароля прошёл успешно</title>
{% endblock %} 
</head>

{% block content %} 
    <main>
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Восстановление пароля завершено
              </div>
              <div class="card-body">
                <p>Ваш пароль был сохранен. Используйте его для входа</p>
                <div class="col-md-12 p-12">
                <button type="submit" class="btn btn-primary">
                  <a href="{% url 'users:login' %}" class="btn btn-link">
                    <font color="white">Войти</font>
                  </a>
                </button>
              </div> 
              </div> 
            </div> 
          </div>
        </div> 
      </div>
    </main>
{% endblock %} 